<!-- footer Start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-manu">
          <ul>
            <li><a href="{{ site.baseurl }}/" class="fa fa-home" style="color: orange;"> Home</a></li>
            <li><a href="#"><i class="material-icons" style="font-size:15px;color: yellowgreen;">public</i> About Us</a></li>
            <li><a href="#" class="fa fa-pencil" style="color: aqua;font-size:16px"> Publications</a></li>
            <li><a href="#"><i class="material-icons" style="font-size:15px;color:red">description</i> Projects</a></li>
            <li><a href="{{ site.baseurl }}/contact" class="fa fa-envelope" style="color: blue;"> Contact us</a></li>
            <li><a href="#"><i class="material-icons" style="font-size:26px;color:blueviolet;">3d_rotation</i>Careers</a></li>
            <li><a href="{{ site.baseurl }}/blog" class="fa fa-book" style="color: green;"> Blog</a></li>
            <li><a href="{{ site.baseurl }}/work"><i class="material-icons" style="font-size:15px;color: yellowgreen;">extension</i> Work</a></li>
          </ul>
        </div>
        <p>Copyright &copy; Design &amp; Developed by <a href="https://github.com/VCL3D">VCL3D <script>document.write(new Date().getFullYear())</script></a>. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
